.header-user{
    background-color: #1C1C1C;
}

.drawer-paper {
    width: 300px;
    height: calc(100% - 64px);
    top: 64px !important;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #1C1C1C !important;
}

.drawer-button, .nav-button {
    background: none;
    border: none;
    color: whitesmoke !important;
    text-decoration: none; 
    padding: 20px 20px; 
    font-family: 'Google Sans', sans-serif;
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
    position: relative; 
}

.drawer-button::after,.nav-button::after {
    content: ''; 
    display: block; 
    width: 100%; 
    height: 2px;
    background: whitesmoke; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    transform: scaleX(0);
    transform-origin: bottom right; 
    transition: transform 0.25s ease-out; 
}

.drawer-button:hover::after, .nav-button:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left; 
}

@media screen and (max-width: 1280px) {
    .nav-button {
        padding: 10px 10px; 
    }

    .nav-button::after {
        display: none;
    }

    .drawer-paper {
        width: 300px;
        height: calc(100% - 66px);
        top: 66px !important;
        box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: #1C1C1C !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-button {
        padding: 5px 5px; 
    }

    .nav-button::after {
        display: none;
    }

    .drawer-paper {
        width: 60%;
        height: calc(100% - 63px);
        top: 63px !important;
        box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: #1C1C1C !important;
    }
}