@font-face {
  font-family: Turret_Road;
  src: url('../assets/fonts/Turret_Road/TurretRoad-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Turret_Road;
  src: url('../assets/fonts/Turret_Road/TurretRoad-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Turret_Road;
  src: url('../assets/fonts/Turret_Road/TurretRoad-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Turret_Road;
  src: url('../assets/fonts/Turret_Road/TurretRoad-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Turret_Road;
  src: url('../assets/fonts/Turret_Road/TurretRoad-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Turret_Road;
  src: url('../assets/fonts/Turret_Road/TurretRoad-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}